h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
body,
a {
  margin: 0;
  padding: 0;
  color: #272d38;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #272d38;
}
ul {
  list-style: none;
}
body {
  font-family: "Inter";
}
